<%= erb :'partials/_navbar', layout: false%>
<div class="row">

<div class="container">
<h3> Question Number <%= @question.id%></h3>
<h4>  <%= @question.title %></h4>
<br>
<h5> Author: <%=@question.user.username %> </h5>
<h5>= <%= @question.body%></h5>
<br>
<h5> answers:<%= @question.answers %></h5>

<h6>answer count:  <%= @question.answers.count %></h6>
<% @question.answers.each do |answer|%>
<h6> <%= answer.answer_string %> </h6>
<h6> <%= answer.user.username %> </h6>
<% end%>



<%if current_user%>
<form class="" action="/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="answer[user_id]" value='<%= current_user.id%>' >

  <label for="answer_string"></label>
  <input type="text" name="answer[answer_string]" value="Put your answer here!">
  <input type="submit" name="submit" value="submit">
</form>


<br>
<form class="" action="/questions/<%=@question.id%>/voteup" method="post">
  <input type="submit" name="votes[votable_type]" value="VOTE UP">
</form>

<form class="" action="/questions/votedown" method="post">
  <input type="submit" name="votes[votable_type]" value="VOTE DOWN">
</form>
<%end%>

</div>
</div>
