<%= erb :'partials/_navbar', layout: false%>
<div class="row">

<div class="container">
<h3> Question Number <%= @question.id%></h3>
<h4>Title:  <%= @question.title %></h4>
<h4>Body: <%= @question.body%></h4>

<h4> answers :<%= @question.answers %></h4>

<h4> <%= @question.answers.count %></h4>

<%if current_user%>
<form class="" action="/questions/show" method="post">
  <label for="answer_string">New Answer</label>
  <input type="text" name="answer[answer_string]" value="">
  <input type="submit" name="submit" value="submit">
</form>


<br>
<form class="" action="/questions/voteup" method="post">
  <input type="submit" name="votes[votable_type]" value="VOTE UP">
</form>

<form class="" action="/questions/votedown" method="post">
  <input type="submit" name="votes[votable_type]" value="VOTE DOWN">
</form>
<%end%>

</div>
</div>
