<%= erb :'partials/_navbar', layout: false%>
<div class="row">
  <div class="container homepage-container">
    <div class="col s8 offset-s2">
      <h5 class="text-left">Top Questions</h5>
      <hr>
    </div>

    <% @questions.each do |question| %>
      <div class="col s8 offset-s2 question-container">
          <div class="card-content">
            <div class="card-vote-count col s2">  <%= question.votes.count() %> <br> Views   </div>
            <div class="card-answer-count col s2">  <%= question.answers.count() %> <br> Answers   </div>
            <div class="card-title col s8"> <a href="/questions/<%= question.id %>" class=""> Question title: <%= question.title %> </a>
              <!-- <p class="card-body"> Question body:   <%= question.body %> </p> -->
              <p class="card-modify-time"> Modified at :   <%= question.updated_at %> |  By User: <%= question.user.username %> </p>
            </div>
          </div>
      </div>
      <% end %>
    </div>
</div>
